.card {
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10px; 
    perspective: 2500px;
    transition: all 0.4s;
    margin: 0 20px; 
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
  }
  
  .wrapper {
    transition: all 0.3s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .card-text {
    position: absolute;
    bottom: 10px; 
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Hanken Grotesk', san-serif;
    color: #fff;
    opacity: 0;
    font-size: 1.2em; 
    transition: opacity 0.3s, transform 0.3s; 
    transform: scale(1);
  }

  #CHAERYONG {
    
    font-size: 0.7em;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 20px 20px -5px rgba(0, 0, 0, 0.75); 
  }

  .card:hover .card-text {
    opacity: 1;
    transform: scale(1.3); 
  }

 
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 40px; 
    transition: all 0.3s;
    position: absolute;
    left: 0;
  }
  
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
  }
  
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 60px; 
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -10%, 50px); 
  }
  
  .card:hover {
    transform: translateY(20px); 
  }
  